
### Objectives

* Clean data. 
* Convert data types. InvoiceDate is object and not in datetime format.
* Remove duplicates.
* Save the cleaned data

### Inputs

* I will be cleaning the Online Retail Transactions file. It contains missing values, incorrect data types, and duplicates.

### Outputs

* Clean dataset

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../Data/input/raw/Online Retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

Changing the data type (from object to datetime) for InvoiceDate column

In [6]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')